.git
.github

.venv
venv
env

__pycache__
*.py[cod]
.pytest_cache
.mypy_cache

.ipynb_checkpoints
notebooks/.ipynb_checkpoints

*.ipynb

data/raw
data/interim
data/processed

mlflow.db
mlartifacts

.pytest_cache
.coverage
htmlcov

*.log

.vscode
.idea

.DS_Store
Thumbs.db